p, 
h1,
h2,
h3,
a {
    color: royalblue;
    font-family: 'Pixelify Sans', cursive;
    text-align: center;
}

p {
    font-style: italic;
}

.ma-classe-test {
    color: #663399;
}

.grand-texte {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    border-radius: 10px; 
    padding: 5px;
    border-left: 5px solid darkviolet;
    border-right: 5px solid darkgreen;
}


#logo {
    border: 2px solid black;
    border-radius: 100% 0% 48% 52% / 60% 0% 100% 40%;
    padding: 50px;
    box-shadow: 6px 6px 25px black;
}

div {
    text-align: center;
}

.element {
    height: 50px;

    background: linear-gradient(green, rgb(1, 20, 1));
    padding: 70px;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    color: white;
}

.container{
    height: 300px;
    border: 1px solid red;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Retour à la ligne automatique */
    justify-content: center;
    gap: 50px;

    align-items: center; /* Centre sur l'axe secondaire - ici Vertical*/
}


.conteneur-grid{
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.box {
    border: 2px solid black;
    border-radius: 25px;
}

.une {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1 / 4; /* Autre façon de l'écrire */
}

.deux {
    grid-row: 2 / 4;
}

.cinq {
    grid-column: 2 / 4;
}

.six {
    grid-column: 1 / 3 
}

.huit {
    grid-column: 1 / 4;
}

.neuf {
    grid-row: 6 / 8;
    grid-column: 1 / 4;
}



table {  /* TABLEAU */
    margin: auto;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;
}

table caption { /* TITRE DU TABLEAU */
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    padding-bottom: 10px;
}

td, /* CELLULE DU TABLEAU */
th { /* CELLULE TITRE DE CHAQUE COLONNE */
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}


:required {
    background-color:#f7d1dd;
}
