/* Section Intro */
.intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  max-width: 1000px;
}
@media screen and (max-width: 996px) {
  .intro {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
}
.intro__title {
  margin-bottom: 15px;
}
.intro__image {
  padding-left: 80px;
}
.intro__content {
  margin-bottom: 30px;
}
.intro__content--purple {
  color: #a5b4fc;
  font-style: normal;
}

/* Section Photos */
.photos {
  background-color: white;
  padding: 80px;
}
.photos__title {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}
.photos__divElements {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 996px) {
  .photos__divElements {
    flex-direction: column;
  }
}

/* Section Contact */
.contact__title {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
}
.contact__form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 996px) {
  .contact__form-nom-email {
    flex-direction: column;
  }
}
.contact__form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact__form__input {
  padding: 15px;
  border-radius: 3px;
  border: none;
}
.contact__form__btn-submit {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
.contact__form_label {
  margin-bottom: 10px;
}

.main__title {
  text-align: center;
}

/* Section Portfolio */
.portfolio {
  background-color: white;
}
.portfolio__title {
  color: #242424;
  margin-bottom: 80px;
  text-align: center;
}
.portfolio__grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.portfolio__grid--paysages {
  grid-template-rows: 300px 300px 300px;
  margin-bottom: 80px;
}
@media screen and (max-width: 996px) {
  .portfolio__grid--paysages {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px;
  }
}
.portfolio__grid--portraits {
  grid-template-rows: 300px 300px;
}
@media screen and (max-width: 996px) {
  .portfolio__grid--portraits {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
  }
}
.portfolio__grid__link {
  position: relative;
}
.portfolio__grid__link__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__grid__link__imageHover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.portfolio__grid__link:hover .portfolio__grid__link__imageHover {
  display: flex;
}

/* Section A propos*/
.about__title {
  text-align: center;
}
.about__content {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}
.about__content__title {
  margin-top: 30px;
}
.about__content__list {
  margin-top: 30px;
}
.about__content__cta {
  text-align: center;
}

/* Section Tarifs */
@media screen and (max-width: 996px) {
  .prices {
    display: none;
  }
}
.prices__title {
  text-align: center;
  margin-bottom: 80px;
}
.prices__table {
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.prices__table__titleCell {
  padding: 15px;
  border: 1px solid #a5b4fc;
}
.prices__table__cell {
  padding: 80px;
  border: 1px solid #a5b4fc;
}

* {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  background-color: #1f2039;
  color: #f9f8ff;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 50px;
}
@media screen and (max-width: 996px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar__link {
  margin-left: 30px;
  color: #242424;
  text-decoration: none;
}
.navbar__link--purple {
  color: #a5b4fc;
}
.navbar__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 996px) {
  .navbar__image {
    margin-bottom: 30px;
  }
}

section {
  padding: 80px;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 996px) {
  h1 {
    font-size: 2em;
  }
}

.btn__cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #645b94);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
  text-decoration: none;
}
.btn__cta:hover {
  background: linear-gradient(#696484, #8788ba);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 50px;
}
footer .footer__icon {
  margin-left: 30px;
}
footer .footer__icon:hover {
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */