$main-color: #1f2039;
$second-color: #a5b4fc;
$third-color: #f9f8ff;
$fourth-color:  #8e86b5;
$fifth-color: #242424;

$main-police: 'Manrope', sans-serif;
$title-police: 'Montserrat', sans-serif;

$max-width-media: 996px;